body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.stat-bar{
  border: black solid 1px;
  width:50%;
  display: inline-block;
  text-align: center;
}
.hidden{
  display: none;
}
.red{
  color:red;
}

.racetrack{
  width: 300px;
}